@define-color foreground #f3d1d1;
@define-color background #231c1c;

* {
  border: none;
  box-shadow: none;
  font-family: "Hurmit Nerd Font", "Noto Sans CJK";
  font-size: 10px;
  font-weight: bold;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
  color: @foreground;
}

window#waybar {
  background: @background;
}


/* Eveerything styles */
#language,
#wireplumber {
    padding-left: 15px;
    padding-right: 15px;
    /* background: @foreground; */
    /* color: @background; */
}

#wireplumber {
    
}

#language {
    /* font-size: 16px; */
}

#battery.warning:not(.charging) {
  color: #FF8A8A;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background-color: #f08000;
  }
}



#workspaces button {
}

#workspaces button.focused {
    border-bottom: 2px solid @foreground;
}

#workspaces button.urgent {
    border-bottom: 2px solid #FF8A8A;
}

/* And last but not least, some customs */

#custom-l1,
#custom-r2 {
    background: transparent;
    color: @foreground;
    font-size: 18px;
}

#custom-l1 {
    padding-left: 15px;
}

#custom-r2 {
    padding-right: 15px
}
