@define-color foreground #f4d2e9;
@define-color background #070406;

/* background   #070406 */
/* foreground   #f4d2e9 */

/* color0      #3c1a33 */

* {
  border: none;
  font-family: "Rec Sans Casual", "Noto Sans CJK";
  font-size: 10px;
  font-weight: bold;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
  color: @foreground;
}

window#waybar {
  background: alpha(@background, .8);
}


/* Eveerything styles */
#language,
#wireplumber,
#battery,
#clock {
    padding-left: 8px;
    padding-right: 8px;
    /* border-left: 1px dotted; */
    /* background: @foreground; */
    /* color: @background; */
}

#wireplumber {
}

#language {
}

#battery.warning:not(.charging) {
  color: #3c1a33;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background-color: #3c1a33;
  }
}



#workspaces button {
    border-bottom: 2px solid transparent;
}

#workspaces button.active {
    border-bottom: 2px solid @foreground;
}

#workspaces button.urgent {
    border-bottom: 2px solid #3c1a33;
}

