@define-color foreground #231c1c;
@define-color background #f3d1d1;

* {
  border: none;
  text-shadow: none;
  box-shadow: none;
  font-family: "Hurmit Nerd Font", "Noto Sans CJK";
  font-size: 10px;
  font-weight: bold;
  min-height: 5px;
  padding-left: 0;
  padding-right: 0;
}

window#waybar {
  background: @background;
  border-bottom: 2px solid @foreground;
}




/* Modules left */

#custom-diskspace,
#custom-uptime {
    color: @background;
    background: @foreground;
}

#custom-diskspace {
  padding-left: 0px;
  padding-right: 15px;
  transition: none;
}

#custom-uptime {
  padding-right: 0px;
  transition: none;
}



/* Modules center */

#workspaces {
  padding-left: 15px;
  padding-right: 15px;
  background: @foreground;
}
#workspaces button {
  font-size: 12px;
  color: @background;
  border-radius: 0px;
  background: transparent;
  padding-left: 5px;
  padding-right: 5px;
}

#workspaces button.focused,
#workspaces button:hover {
  border-bottom: 1px solid @foreground;
  border-top: 1px solid @foreground;
  color: @foreground;
  background-color: @background;
}




/* Modules right */

#language,
#network,
#clock,
#battery,
#pulseaudio,
#pipewire {
  padding-left: 15px;
  transition: none;
  background: @foreground;
  color: @background;
}

#battery.critical:not(.charging) {
  color: #ff0044;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background-color: #f08000;
  }
}

#language {
    padding-left: 15px;
    transition: none;
    /* color: @foreground; */
}

#network {
    padding-left: 15px;
    transition: none;
    /* color: @foreground; */
}




/* And last but not least, some customs */

#custom-l1,
#custom-r2 {
    background: transparent;
    color: @foreground;
    font-size: 18px;
}
