@define-color foreground #f4d2e9;
@define-color background #070406;

/* background   #070406 */
/* foreground   #f4d2e9 */

/* color0      #3c1a33 */

* {
  border: none;
  box-shadow: none;
  font-family: "Hurmit Nerd Font", "Noto Sans CJK";
  font-size: 10px;
  font-weight: bold;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
  color: @foreground;
}

window#waybar {
  background: alpha(@background, .8);
}


/* Eveerything styles */
#language,
#wireplumber,
#battery,
#clock {
    padding-left: 15px;
    padding-right: 15px;
    /* background: @foreground; */
    /* color: @background; */
}

#wireplumber {
    
}

#language {
    /* font-size: 16px; */
}

#battery.warning:not(.charging) {
  color: #3c1a33;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background-color: #3c1a33;
  }
}



#workspaces button {
}

#workspaces button.focused {
    border-bottom: 2px solid @foreground;
}

#workspaces button.urgent {
    border-bottom: 2px solid #3c1a33;
}

