* {
  bg: #070406cc;
  // fg: #f4d2e9;
  border: transparent;

  fg: #CC82B3;
  text: #f4d2e9;
  
  // background-color: @bg;
  margin: 0;
  padding: 0;
  spacing: 15;

  background-color: transparent;
}
