* {
    black: #1a1a1a78;
    gray: #857e7e;
    mid: #c5c5c5;
    claret: #470012;
    // red: #7a002b;
    red: #b2134b;

    transparent: #0000;

    margin: 0;
    padding: 0;
    spacing: -1;
    //
    // fg: #CC82B3;
    // text: #f4d2e9;
    // bg: #070406cc;
    // border: transparent;
    background-color: @transparent;
}
